html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#side-menu {
  flex: 1;
}
#main {
  flex: 3;
}

.page {
  display: none;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.page > h2 {
  margin: 0 0 10px 0;
  color: #057988;
}

td {
  padding: 4px;
}

th {
  padding: 5px;
}

#job-title {
  color: green;
  text-align: left;
  margin: 30px;
}
#top-menu-bar {
  text-align: center;
  background-color: #334455;
  color: #fff;
  margin: 0;
  padding: 2px;
}
#top-menu-bar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#top-menu-bar a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  transition: 0.5s;
}
#top-menu-bar a:visited {
  color: #fff;
}

#top-menu-bar a.active,
#top-menu-bar a:hover {
  color: #334455;
  background: #fff;
}

.favorite {
  font-weight: bold;
  color: blue;
}
td.favorite {
  font-weight: normal;
}

img {
  display: center;
  border-radius: 50%;
  margin: 3%;
}

/*
header,
#content,
footer {
  padding: 4px;
  margin: 2px;
  border: 5px solid #2196f3;
  background-color: #d3eafd;
}
#content div,
#side-menu section {
  padding: 4px;
  margin: 2px;
  border: 2px solid red;
}
#section {
  border-color: 2px rgb(24, 94, 24);
  margin-left: 10px;
} */

/*.name {
  margin-left: 5%;
  color: crimson;
} */

/*
#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#side-menu {
  flex: 1;
}

#main {
  flex: 2;
}
*/
table {
  height: 100px;
  width: 250px;
}
